%a{:href=>ROOT_VPATH.'/core/modules/graphdot/tmp/'.$params['dot'].'.png', :target=>'_blank'}
  %img{:src=>ROOT_VPATH.'/core/modules/graphdot/tmp/'.$params['dot'].'.png', :style=>'width: 600px;', :alt=>'Graph'}